@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Set background to white */
  --background-end-rgb: 255, 255, 255; /* Set background to white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--background-start-rgb));
  background: none; /* Remove the gradient background */
  background-color: rgb(var(--foreground-rgb)); /* Set the background color to white */
}

.tshad{
  filter: drop-shadow(2.5px 4.33px 2.5px rgba(4,0,11,0.32));
}